
body {
  background-color: aqua;
}
form {
  font-size: 0.8em;
  padding: 10px;
}
label {
  display: block;
  font-weight: bold;
}
input {
  border: 1px solid #CCC;
  box-shadow: inset 2px 2px 2px #EEE;
  font-size: 0.9em;
  padding: 2px 5px;
}
.card section {
  backface-visibility: hidden;
  background-color: #FFF;
  padding: 50px;
  border-radius: 5px;
  position: absolute;
}
.container {
  height: 295px;
  perspective: 500px;
  position: relative;
  width: 200px;
}
.box {
  padding-top: 90px;
  height: 295px;
  perspective: 500px;
  position: relative;
  width: 200px;
}
.card {
  border-radius: 5px;
  border: 1px solid #CCC;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
  position: absolute;
  width: 100%;
}
